<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the  Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">



If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [1]:
#!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
#!pip install sqlalchemy==1.3.24
#!pip uninstall ipython-sql -y
#!pip install ipython-sql==0.4.1

In [2]:
import psycopg2 as ps
import sqlalchemy
import os
import pandas.io.sql as pdsql
import pandas as pd

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
# Preparing SQL Magic Connection:
try:
    host = "localhost"
    database = "Capstone_Project_Data_Science"
    user = "postgres"
    password = "password"
    
    %sql postgresql://{user}:{password}@{host}/{database}
    
    print("SQL Magic Conected")

except Exception as ex:
    print("SQL Magic not Connected", ex)

SQL Magic Conected

In [5]:
%%sql
SELECT * from "SpaceX" LIMIT 5

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
5 rows affected.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', Decimal('0'), 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', Decimal('0'), 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', Decimal('525'), 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', Decimal('500'), 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', Decimal('677'), 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]



**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [6]:
#%sql ibm_db_sa://

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
%%sql
SELECT distinct "Launch_Site"
from "SpaceX"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [8]:
%%sql
SELECT * from "SpaceX"
where "Launch_Site" like '%KSC%'
LIMIT 5

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
5 rows affected.

[(datetime.date(2017, 2, 19), datetime.time(14, 39), 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', Decimal('2490'), 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 (datetime.date(2017, 3, 16), datetime.time(6, 0), 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', Decimal('5600'), 'GTO', 'EchoStar', 'Success', 'No attempt'),
 (datetime.date(2017, 3, 30), datetime.time(22, 27), 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', Decimal('5300'), 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 (datetime.date(2017, 5, 1), datetime.time(11, 15), 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', Decimal('5300'), 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 (datetime.date(2017, 5, 15), datetime.time(23, 21), 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', Decimal('6070'), 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
%%sql
SELECT "Booster_Version", SUM("PAYLOAD_MASS_KG_") as "Total Mass Kg"
from "SpaceX"
where "Customer" like 'NASA (CRS)'
group by "Booster_Version"
order by "Total Mass Kg" DESC

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
20 rows affected.

[('F9 B4 B1039.1', Decimal('3310')),
 ('F9 FT B1021.1', Decimal('3136')),
 ('F9 B5 B1058.4 ', Decimal('2972')),
 ('F9 FT B1035.1', Decimal('2708')),
 ('F9 B4 B1045.2', Decimal('2697')),
 ('F9 B4  B1039.2', Decimal('2647')),
 ('F9 B5B1050', Decimal('2500')),
 ('F9 B5B1056.1 ', Decimal('2495')),
 ('F9 FT B1031.1', Decimal('2490')),
 ('F9 v1.1 B1012', Decimal('2395')),
 ('F9 v1.1', Decimal('2296')),
 ('F9 B5 B1056.2 ', Decimal('2268')),
 ('F9 FT B1025.1', Decimal('2257')),
 ('F9 v1.1 B1010', Decimal('2216')),
 ('F9 FT  B1035.2', Decimal('2205')),
 ('F9 B5 B1059.2', Decimal('1977')),
 ('F9 v1.1 B1018', Decimal('1952')),
 ('F9 v1.1 B1015', Decimal('1898')),
 ('F9 v1.0  B0007', Decimal('677')),
 ('F9 v1.0  B0006', Decimal('500'))]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [10]:
%%sql
SELECT "Booster_Version", AVG("PAYLOAD_MASS_KG_") as "Avg_Mass_Kg"
from "SpaceX"
where "Booster_Version" like 'F9 v1.1'
group by "Booster_Version"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
1 rows affected.

[('F9 v1.1', Decimal('2928.4000000000000000'))]

### Task 5

##### List the date where the first successful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [11]:
%%sql
SELECT MIN("Date") as "Date (Success Landing)" from "SpaceX"
where "Landing_Outcome" like '%Success%'

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
1 rows affected.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [12]:
%%sql
SELECT "Booster_Version", "PAYLOAD_MASS_KG_", "Landing_Outcome" from "SpaceX"
where "Landing_Outcome" like '%Success (ground pad)%'
AND "PAYLOAD_MASS_KG_" > 4000
AND "PAYLOAD_MASS_KG_" < 6000

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
3 rows affected.

[('F9 FT B1032.1', Decimal('5300'), 'Success (ground pad)'),
 ('F9 B4 B1040.1', Decimal('4990'), 'Success (ground pad)'),
 ('F9 B4 B1043.1', Decimal('5000'), 'Success (ground pad)')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [13]:
%%sql
SELECT
    CASE 
        WHEN "Mission_Outcome" like '%Success%' THEN 'Success' 
        WHEN "Mission_Outcome" like '%Failure%' THEN 'Failure'
    END AS "Outcome", COUNT(*) AS "Total Outcomes" 
from "SpaceX"
group by "Outcome"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
2 rows affected.

[('Success', 100), ('Failure', 1)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

In [14]:
%%sql
SELECT TO_CHAR("Date", 'Month') as "Month", "Landing_Outcome", "Booster_Version", "Launch_Site"
from "SpaceX"
where CAST("Date" AS VARCHAR) like '%2017%'
AND "Landing_Outcome" like '%Success (ground pad)%'
order by "Date"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
6 rows affected.

[('February ', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('May      ', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('June     ', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('August   ', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('September', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('December ', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [15]:
%%sql
SELECT "Landing_Outcome", COUNT("Landing_Outcome") as "Total Outcomes"
from "SpaceX"
where "Landing_Outcome" like '%Success%'
AND "Date" > '2010-06-04'
AND "Date" < '2017-03-20'
group by "Landing_Outcome"
order by "Total Outcomes" DESC

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
2 rows affected.

[('Success (drone ship)', 5), ('Success (ground pad)', 3)]

## Quiz Queries

In [16]:
%%sql
SELECT max("Date") from "SpaceX"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
1 rows affected.

[(datetime.date(2020, 12, 6),)]

In [17]:
%%sql
SELECT MIN("PAYLOAD_MASS_KG_") from "SpaceX"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
1 rows affected.

[(Decimal('0'),)]

In [18]:
%%sql
SELECT "Booster_Version", AVG("PAYLOAD_MASS_KG_") as "Average_Payload_Mass" from "SpaceX"
group by "Booster_Version"

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
97 rows affected.

[('F9 FT B1019', Decimal('2034.0000000000000000')),
 ('F9 v1.0  B0005', Decimal('525.0000000000000000')),
 ('F9 B5 B1058.4 ', Decimal('2972.0000000000000000')),
 ('F9 B5 B1056.4', Decimal('15600.0000000000000000')),
 ('F9 FT B1032.1', Decimal('5300.0000000000000000')),
 ('F9 FT B1031.1', Decimal('2490.0000000000000000')),
 ('F9 B5 B1060.3', Decimal('15600.0000000000000000')),
 ('F9 B5 B1051.5', Decimal('14932.0000000000000000')),
 ('F9 B4 B1042.1', Decimal('3500.0000000000000000')),
 ('F9 B5B1048.1', Decimal('9600.0000000000000000')),
 ('F9 B4 B1045.1', Decimal('362.0000000000000000')),
 ('F9 v1.1  B1003', Decimal('500.0000000000000000')),
 ('F9 v1.1 B1014', Decimal('4159.0000000000000000')),
 ('F9 B5 B1060.2 ', Decimal('15600.0000000000000000')),
 ('F9 FT  B1029.2', Decimal('3669.0000000000000000')),
 ('F9 B5 B1051.3', Decimal('15600.0000000000000000')),
 ('F9 FT B1038.1', Decimal('475.0000000000000000')),
 ('F9 B5B1063.1', Decimal('1192.0000000000000000')),
 ('F9 B5B1049.1', Decimal('7060.0000000000000000')),
 ('F9 FT  B1038.2', Decimal('2150.0000000000000000')),
 ('F9 B5 B1058.3 ', Decimal('15600.0000000000000000')),
 ('F9 B5B1058.1 ', Decimal('12530.0000000000000000')),
 ('F9 v1.1 B1015', Decimal('1898.0000000000000000')),
 ('F9 B5 B1051.6', Decimal('15600.0000000000000000')),
 ('F9 B5 B1046.4', Decimal('12050.0000000000000000')),
 ('F9 FT B1025.1', Decimal('2257.0000000000000000')),
 ('F9 FT B1023.1', Decimal('3100.0000000000000000')),
 ('F9 B5B1051.1', Decimal('12055.0000000000000000')),
 ('F9 v1.1 B1016', Decimal('4707.0000000000000000')),
 ('F9 B5 B1048.5', Decimal('15600.0000000000000000')),
 ('F9 B5 B1049.2', Decimal('9600.0000000000000000')),
 ('F9 B5 B1048.2', Decimal('3000.0000000000000000')),
 ('F9 FT B1036.1', Decimal('9600.0000000000000000')),
 ('F9 B4 B1044', Decimal('6092.0000000000000000')),
 ('F9 FT B1029.1', Decimal('9600.0000000000000000')),
 ('F9 B5 B1056.3 ', Decimal('6956.0000000000000000')),
 ('F9 FT B1024', Decimal('3600.0000000000000000')),
 ('F9 B4  B1040.2', Decimal('5384.0000000000000000')),
 ('F9 v1.0  B0003', Decimal('0E-20')),
 ('F9 B5 B1059.4', Decimal('3130.0000000000000000')),
 ('F9 FT B1035.1', Decimal('2708.0000000000000000')),
 ('F9 v1.1 B1017', Decimal('553.0000000000000000')),
 ('F9 B5 B1049.3', Decimal('13620.0000000000000000')),
 ('F9 B5B1056.1 ', Decimal('2495.0000000000000000')),
 ('F9 FT B1020', Decimal('5271.0000000000000000')),
 ('F9 B5 B1048.4', Decimal('15600.0000000000000000')),
 ('F9 B5 B1051.4', Decimal('15600.0000000000000000')),
 ('F9 B5B1060.1', Decimal('4311.0000000000000000')),
 ('F9 B5 B1049.7 ', Decimal('15600.0000000000000000')),
 ('F9 B5 B1047.3 ', Decimal('6500.0000000000000000')),
 ('F9 B4 B1040.1', Decimal('4990.0000000000000000')),
 ('F9 v1.1 B1012', Decimal('2395.0000000000000000')),
 ('F9 B4 B1039.1', Decimal('3310.0000000000000000')),
 ('F9 B4  B1043.2', Decimal('6460.0000000000000000')),
 ('F9 B5 B1048.3', Decimal('4850.0000000000000000')),
 ('F9 FT B1026', Decimal('4600.0000000000000000')),
 ('F9 B4  B1039.2', Decimal('2647.0000000000000000')),
 ('F9 B5B1062.1', Decimal('4311.0000000000000000')),
 ('F9 B5B1059.1', Decimal('2617.0000000000000000')),
 ('F9 B5B1050', Decimal('2500.0000000000000000')),
 ('F9 FT B1037', Decimal('6761.0000000000000000')),
 ('F9 FT  B1021.2', Decimal('5300.0000000000000000')),
 ('F9 B5 B1049.4', Decimal('15600.0000000000000000')),
 ('F9 B4 B1045.2', Decimal('2697.0000000000000000')),
 ('F9 FT B1022', Decimal('4696.0000000000000000')),
 ('F9 B5 B1046.3', Decimal('4000.0000000000000000')),
 ('F9 B5 B1046.2', Decimal('5800.0000000000000000')),
 ('F9 B5 B1049.5', Decimal('15600.0000000000000000')),
 ('F9 B5 B1059.2', Decimal('1977.0000000000000000')),
 ('F9 B5B1054', Decimal('4400.0000000000000000')),
 ('F9 FT B1021.1', Decimal('3136.0000000000000000')),
 ('F9 FT  B1032.2', Decimal('4230.0000000000000000')),
 ('F9 B5 B1051.2 ', Decimal('4200.0000000000000000')),
 ('F9 v1.1 B1018', Decimal('1952.0000000000000000')),
 ('F9 v1.0  B0006', Decimal('500.0000000000000000')),
 ('F9 B5 B1059.3', Decimal('15410.0000000000000000')),
 ('F9 B5B1047.1', Decimal('7075.0000000000000000')),
 ('F9 B4  B1041.2', Decimal('9600.0000000000000000')),
 ('F9 FT  B1036.2', Decimal('9600.0000000000000000')),
 ('F9 B5B1061.1 ', Decimal('12500.0000000000000000')),
 ('F9 B5 B1049.6', Decimal('15440.0000000000000000')),
 ('F9 v1.1 B1013', Decimal('570.0000000000000000')),
 ('F9 B5 B1056.2 ', Decimal('2268.0000000000000000')),
 ('F9 B4 B1041.1', Decimal('9600.0000000000000000')),
 ('F9 B5 B1047.2', Decimal('5300.0000000000000000')),
 ('F9 v1.1 B1010', Decimal('2216.0000000000000000')),
 ('F9 v1.0  B0007', Decimal('677.0000000000000000')),
 ('F9 B4 B1043.1', Decimal('5000.0000000000000000')),
 ('F9 FT  B1035.2', Decimal('2205.0000000000000000')),
 ('F9 v1.1', Decimal('2928.4000000000000000')),
 ('F9 FT B1030', Decimal('5600.0000000000000000')),
 ('F9 B5  B1046.1', Decimal('3600.0000000000000000')),
 ('F9 FT  B1031.2', Decimal('5200.0000000000000000')),
 ('F9 FT B1034', Decimal('6070.0000000000000000')),
 ('F9 v1.1 B1011', Decimal('4428.0000000000000000')),
 ('F9 v1.0  B0004', Decimal('0E-20')),
 ('F9 B5 B1058.2 ', Decimal('5500.0000000000000000'))]

In [19]:
%%sql
SELECT * from "SpaceX"
where to_char("Date", 'Day') = 'Thursday' LIMIT 10

 * postgresql://postgres:***@localhost/Capstone_Project_Data_Science
0 rows affected.

[]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>